* {
    font-family: "Commissioner", sans-serif;
}

h1 {
    font-size: 34px;
}
.accueil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 100vw;
    flex-direction: column;
    margin-top: 15vh;
}

section {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

@keyframes stretch {
    0% {
        font-variation-settings: "wght" 100, "wdth" 50;
    }
    
    50% {
        font-variation-settings: "wght" 800, "wdth" 500;
    }

    100% {
        font-variation-settings: "wght" 100, "wdth" 50;
    }
}

.letter {
    
    font-weight: 100;
    color: rgb(255, 198, 83);
    width: auto;
    animation: stretch 4.8s ease-in-out infinite;
    display: relative;
    bottom: 30vh;
    
}

.letter:nth-child(1) { animation-delay: 0s; }
.letter:nth-child(2) { animation-delay: 0.3s; }
.letter:nth-child(3) { animation-delay: 0.6s; }
.letter:nth-child(4) { animation-delay: 0.9s; }
.letter:nth-child(5) { animation-delay: 1.2s; }
.letter:nth-child(6) { animation-delay: 1.5s; }
.letter:nth-child(7) { animation-delay: 1.8s; }
.letter:nth-child(8) { animation-delay: 2.1s; }
.letter:nth-child(9) { animation-delay: 2.4s; }
.letter:nth-child(10) { animation-delay: 2.7s; }
.letter:nth-child(11) { animation-delay: 3.0s; }
.letter:nth-child(12) { animation-delay: 3.3s; }
.letter:nth-child(13) { animation-delay: 3.6s; }
.letter:nth-child(14) { animation-delay: 3.9s; }
.letter:nth-child(15) { animation-delay: 4.2s; }

.links{
    display: flex;
    align-items: center;
    border: 1px solid greenyellow;

    & a {
        color: rgb(255, 198, 83);
        max-width: 180px;
        font-size: 21px;
        text-decoration: none;
        border: 1px solid rgb(0, 0, 0);
        
        
    }
}

a {
    /* Définissez le style de base */
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 0.3s ease; /* Ajoutez une transition pour une animation fluide */
}

a:hover {
    /* Définissez l'animation au survol */
    font-variation-settings: "wght" 800; /* Augmentez le poids au survol */
}

#premier {
    width: 160px;
}

#deuxieme {
    width: 130px;
}
#troisieme {
    width: 140px;
}




